// *************************************
//
//  Variables
//  ~bp-a11y/src/assets/scss/base/_variables.scss already included, 
//  You can overwrite it or add new variable below.
//
// *************************************

// -------------------------------------
//   Colors
// -------------------------------------

$color-primary: #287F1A;


// -------------------------------------
//   Font
// -------------------------------------

$font-family: 'Noto Sans TC', 'helvatica', 'Arial', sans-serif;
$font-size-base: 1rem;
