ENV = 'test'
BASE_URL = 'http://localhost:3000'
API_URL = 'http://localhost:3000/api'
API_KEY = 'XXXXXX'
API_BACKSTAGE_URL = 'http://localhost:3000/api/backstage'
PICTURE_URL = 'http://localhost:3000'
WEBSITE_NAME = 'Piman'
WEBSITE_DESCRIPTION = '一款聚焦於無障礙的開源 UI 框架。'