// -------------------------------------
//   Button
// -------------------------------------

@mixin bpa-btn-generator($textColor, $bgColor, $borderColor) {
  color: $textColor;
  background-color: $bgColor;
  border-color: $borderColor;
  &:hover {
    background-color: lighten($bgColor, 10%);
    border-color: lighten($borderColor, 10%);
  }
  &:active {
    background-color: darken($bgColor, 10%);
    border-color: darken($borderColor, 10%);
  }
  .#{$prefix}-select-placeholder,
  .#{$prefix}-select-clear-btn { 
    color: $color-white;
  }
}

@mixin bpa-btn-ghost-generator($textColor, $bgColor, $borderColor) {
  color: $textColor;
  background: $bgColor;
  border-color: $borderColor;
  transition: background-color 160ms ease-in, color 160ms ease-in;
  &:hover {
    // color: $color-white;
    background-color: lighten($borderColor, 40%);
    // border-color: lighten($borderColor, 10%);
  }
  &:active {
    // color: $color-white;
    background-color: lighten($borderColor, 30%);
    // border-color: darken($borderColor, 10%);
  }
  .#{$prefix}-select-placeholder,
  .#{$prefix}-select-clear-btn { 
    color: $textColor;
  }
}


// -------------------------------------
//   a11y
// -------------------------------------

@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin visually-hidden-focusable() {
  &:not(:focus-visible):not(:focus-within) {
    @include visually-hidden();
  }
  &:not(:focus):not(:focus-within) {
    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
      @include visually-hidden();
    }
  }
}