.#{$prefix}-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: darken($color-gray, 40%);
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  background-color: $color-white;
  transition: background-color 160ms ease-in;
  &:hover {
    background-color: lighten($color-gray, 40%);
  }
  &:active {
    background-color: lighten($color-gray, 30%);
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.#{$prefix}-btn--primary {
    @include bpa-btn-generator($color-white, $color-primary, $color-primary);
  }
  &.#{$prefix}-btn--success {
    @include bpa-btn-generator($color-white, $color-success, $color-success);
  }
  &.#{$prefix}-btn--warning {
    @include bpa-btn-generator($color-white, $color-warning, $color-warning);
  }
  &.#{$prefix}-btn--danger {
    @include bpa-btn-generator($color-white, $color-danger, $color-danger);
  }
  &.#{$prefix}-btn--primary-ghost {
    @include bpa-btn-ghost-generator($color-primary, transparent, $color-primary);
  }
  &.#{$prefix}-btn--success-ghost {
    @include bpa-btn-ghost-generator($color-success, transparent, $color-success);
  }
  &.#{$prefix}-btn--warning-ghost {
    @include bpa-btn-ghost-generator($color-warning, transparent, $color-warning);
  }
  &.#{$prefix}-btn--danger-ghost {
    @include bpa-btn-ghost-generator($color-danger, transparent, $color-danger);
  }
  &.#{$prefix}-btn--small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    .#{$prefix}-btn-loading {
      vertical-align: baseline;
      width: 0.75rem;
      height: 0.75rem;
      span {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }
  &.#{$prefix}-btn--large {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
  }
  .#{$prefix}-btn-loading {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    span {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      margin: 0.125rem;
      border: 0.125rem solid $color-gray;
      border-radius: 50%;
      animation: btn-loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $color-gray transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -450ms;
      }
      &:nth-child(2) {
        animation-delay: -300ms;
      }
      &:nth-child(3) {
        animation-delay: -150ms;
      }
    }
  }
  &+.#{$prefix}-btn {
    margin-left: 0.5rem;
  }
}