.#{$prefix}-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: left;
  font-size: 1rem;
  background-color: rgba($color-black, 0.5);
  backdrop-filter: blur(0.25rem);
  overflow: hidden;
  .#{$prefix}-dialog-box {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
     display: block;
     text-align: center;
     &:before {
       content: '';
       height: 100%;
       width: 0;
        display: inline-block;
        vertical-align: middle;
     }
    }
  }
  .#{$prefix}-dialog-box__inner {
    position: relative;
    background-color: $color-white;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: nth($breakpoint, 4);
    margin: auto;
    text-align: left;
    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 1rem;
    }
  }
  .#{$prefix}-dialog-header {
    position: sticky;
    top: -1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $border-color;
    background-color: $color-white;
    z-index: 1;
  }
  .#{$prefix}-dialog-container {
    padding: 1rem;
    word-break: break-all;
    word-break: break-word;
  }
  .#{$prefix}-dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid $border-color;
  }
  .#{$prefix}-dialog-close-btn {
    border: 0;
    color: $color-primary;
  }
}

.#{$prefix}-dialog-animation-enter,
.#{$prefix}-dialog-animation-leave-active {
  opacity: 0;
}

.#{$prefix}-dialog-animation-enter-active,
.#{$prefix}-dialog-animation-leave-active {
  transition: opacity 320ms ease-in;
}