.#{$prefix}-msg {
  position: fixed;
  top: 1rem;
  right: 1rem;
  // transform: translate3d(-50%, 0, 0);
  max-width: 50%;
  max-height: 9rem;
  overflow: auto;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid $border-color;
  box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.125);
  transition-duration: 0.3s;
  @media screen and (max-width: nth($breakpoint, 2)){
    max-width: calc(100% - 2rem);
    display: block;
  }
  .#{$prefix}-msg-wrap {
    display: flex;
    align-items: baseline;
  }
  .prefix {
    padding-right: 1rem;
  }
  .accesskey {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    color: $color-black;
  }
  .close-msg {
    margin-left: 1rem;
    // position: absolute;
    // top: 0.5rem;
    // right: 0.5rem;
  }
  .msg-content {
    line-height: 1.5;
  }
  &.#{$prefix}-msg--primary {
    color: darken($color-primary, 10%);
    background-color: lighten($color-primary, 40%);
    border-color: lighten($color-primary, 30%);
    .accesskey {
      color: $color-primary;
    }
  }
  &.#{$prefix}-msg--success{
    color: darken($color-success, 10%);
    background-color: lighten($color-success, 40%);
    border-color: lighten($color-success, 30%);
    .accesskey {
      color: $color-success;
    }
  }
  &.#{$prefix}-msg--warning {
    color: darken($color-warning, 10%);
    background-color: lighten($color-warning, 40%);
    border-color: lighten($color-warning, 30%);
    .accesskey {
      color: $color-warning;
    }
  }
  &.#{$prefix}-msg--danger {
    color: darken($color-danger, 10%);
    background-color: lighten($color-danger, 45%);
    border-color: lighten($color-danger, 30%);
    .accesskey {
      color: $color-danger;
    }
  }
}

