.#{$prefix}-radio-label {
  position: relative;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  .#{$prefix}-radio__inner {
    display: inline-block;
    padding-left: 1.5rem;
    color: $color-black;
    line-height: 1.5;
    &:before {
      content:'';
      position: absolute;
      // top: 0.3rem;
      // left: 0.1875rem;
      transform: translate3d(calc(-1.5rem + 0.15625rem - 0.5px), 0.3125rem, 0);
      width: 0.875rem;
      height: 0.875rem;
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 120ms ease-in;
      @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
        display: none;
      }
    }
    .#{$prefix}-input-box {
      line-height: 1.15;
    }
  }
  &.#{$prefix}-radio-label--disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:last-child {
    margin-right: 0;
  }
}

.#{$prefix}-radio-input[type="radio"] {
  cursor: pointer;
  appearance: none;
  position: absolute;
  top: 0.1875rem;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: 50%;
  transition: background-color 160ms ease-in, border-color 160ms ease-in, box-shadow 160ms ease-in;
  &:hover {
    border-color: $color-primary;
  }
  &:active {
    background-color: lighten($color-primary, 40%);
  }
  &:checked + .#{$prefix}-radio__inner {
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    box-shadow: 0 0 0 3px $outline-color;
  }
}