.#{$prefix}-switch {
  button {
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: background-color 160ms ease-in;
    &[aria-checked="false"] {
      background-color: lighten($color-gray, 30%);
      transition: background-color 160ms ease-in;
      .#{$prefix}-switch-text--close {
        background-color: $color-white;
      }
    }
    &[aria-checked="true"] {
      background-color: $color-primary;
      transition: background-color 160ms ease-in;
      .#{$prefix}-switch-text--close {
        color: $color-white;
      }
      .#{$prefix}-switch-text--open {
        background-color: $color-white;
      }
    }
    &:hover {
      box-shadow: 0 0 0 1px $color-primary;
    }
    &:active {
      box-shadow: 0 0 0 1px $color-primary;
    }
    &:focus {
      box-shadow: 0 0 0 3px $outline-color;
    }
  }
}

.#{$prefix}-switch-text {
  color: $color-black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.1875rem;
}