.#{$prefix}-tree {
  .#{$prefix}-checkbox-label {
    margin-bottom: 0;
  }
  .#{$prefix}-tree-node__inner {
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    margin-bottom: 0.25rem;
    &.hover {
      background-color: lighten($color-gray, 40%);
    }
    &.focus {
      box-shadow: 0 0 0 3px $outline-color;
    }
  }
  .has-children-icon {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.375rem 0 0.375rem 0.375rem;
    border-color: transparent transparent transparent $color-black;
    top: 50%;
    left: -0.75rem;
    transform-origin: center;
    transform: translate3d(0, -50%, 0);
    transition: transform 160ms ease-in-out;
  }
  [role="treeitem"] {
    padding: 0rem 0 0 0.75rem;
    outline: none;
    &[aria-expanded="true"] {
      .has-children-icon {
        transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 90deg);
      }
    }
  }
  [role="group"] {
    padding-left: 1rem;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    [role="treeitem"] {
      padding-left: 0;
      .has-children-icon {
        transform: translate3d(0, -50%, 0);
      }
      &[aria-expanded="true"] {
        .has-children-icon {
          transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 90deg);
        }
      }
    }
  }
}